<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="comparelist">
        <div class="comparelist__item" *ngFor="let car of compareList; let i = index"  [ngStyle]="{'background-image': 'url(' + car.image + ')'}">
          <div class="comparelist__item__title">
            {{car.carData.name}}
          </div>
          <div class="comparelist__item__delete fa" (click)="delete(i)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="comparebutton" *ngIf="compareList.length">
        <a class="btn btn-outline-primary" *ngIf="compareList.length > 1" [href]="compareUrl()">Start Comparing</a>
      </div>
    </div>
  </div>
</div>