
@import '~bootstrap-scss/bootstrap.scss';

.overview {
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 11rem);
    display: block;
    margin-top: 1rem;
    & > div {
        padding: 1rem;
    }
}

.viewselector {
    display: flex;
    flex-direction: row;
    &__view {
        cursor: pointer;
        flex: 1 auto;
        padding: .5rem;
        margin: .2rem 0;
        justify-content: space-evenly;
        border-radius: 20px;
        text-align: center;
        font-size: 9pt;
        &.selected {
            border: 2px solid #007fff;
            font-weight: bold;
        }
    }
}

.specssheet {
    @include media-breakpoint-down(md) {
        font-size: 7pt;
    }
}