<div class="container">
    <button class="btn btn-primary" [routerLink]="'/'">< Back to selection</button>
    <div class="specssheet" *ngIf="compareList.length">
      <table class="table table-striped">
        <thead>
          <!-- <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr> -->
          <tr>
            <th scope="col"></th>
            <th scope="col" *ngFor="let car of compareList">
              <div class="carimage" [ngStyle]="{'background-image': 'url(' + car.image + ')'}">
                {{car.carData.name}}
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of specsCompare">
            <th>{{item.name}}</th>
            <td scope="col" *ngFor="let car of compareList">
              <span scope="col" *ngIf="!car.specs[item.id].convert_miles" class="value">{{car.specs[item.id].value}}{{car.specs[item.id].unit}}</span>
              <span scope="col" *ngIf="car.specs[item.id].convert_miles" class="value">{{car.specs[item.id].value | miles}}{{car.specs[item.id].unit}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <sub>* If you find incorrect information, please use the feedback button to inform, thanks!</sub>
    </div>
</div>
<!-- <pre>{{compareList | json}}</pre> -->